{{extend 'layout.html'}}



<div class="non-mobile container group" style="margin-bottom:150px;">
	<h2 class="page_title3" style="margin-bottom:30px;">About THE SAKE CELLAR</h2>
	
	<div id="about-non-mobile">
		<div class="about_photos">
			<img src="{{=URL('static','images/sake2.jpg')}}" style="margin-bottom:140px;">
			<img src="{{=URL('static','images/hiroshi2.jpg')}}">
		</div> 
		<div class="about1">
			<span style="color:#555;">Dear all in the fine food & drink business.</span>	<br>
			<br>From Hiroshi Sasaki the founder of THE SAKE CELLAR.
			
			<br><br><span>I confess..</span>
			<br>I only recently became a sake lover when in 2015 I had a chance to drink sake and my reaction was...
			<br><B>"Wow, sake is so exquisite!"</B>
			<br>I felt it a loss that I , a Japanese person, had lived so far without sake.
			<br>I thought that I must enjoy sake more and I would like other people to enjoy it too.

			
			<br><br><span>I wondered if people in the UK like sake or not?</span>
			<br>I took bottles of Ginjo sake (high class aromatic sake) to a few restaurants, wine shops, bars and pubs in North West London and asked people's opinion of it.	
			<br>Those in the wine business all loved it!
			<br>So, I decided to start a sake business because I thought that <B>sake has the potential to become much more popular in the UK than it is now.</B>


			<br><br><span>My ambition</span>
			<br>I want to see sake become as popular as wine in the UK.
			<br>How can that happen? By letting many others try fine sake.  Because the major reason why people start to love sake is simply that they find sake so beautiful like I did.
			<br><B>Would you like to work for this ambition?</B>

			<br><br><span>Become a sake specialist!</span>
			<br><B>I will bring you a variety of sake and let you try them free of charge.</B>
			<br>I want to hear your opinion about them.  And if you love them, transmit your love to your customers.

				
			<br><br><span>Have you tried our sake yet? If not, why not try!</span>	
			<br><B>Please contact me (service@thesakecellar.com) for the free sake tasting.</B>				
		</div>
	</div>
</div>

<div class="mobile">
	<h2 class="page_title3" style="margin-bottom:30px;">About THE SAKE CELLAR</h2>
	
	<div class="about_photos">

	</div> 
	<div class="about1">

		<img src="{{=URL('static','images/sake2.jpg')}}" style="margin-bottom:30px;">
		
		<span style="color:#555;">Dear all in the fine food & drink business.</span>	<br>
		<br>From Hiroshi Sasaki the founder of THE SAKE CELLAR.
		
		<br><br><span>I confess..</span>
		<br>I only recently became a sake lover when in 2015 I had a chance to drink sake and my reaction was...
		<br><B>"Wow, sake is so exquisite!"</B>
		<br>I felt it a loss that I , a Japanese person, had lived so far without sake.
		<br>I thought that I must enjoy sake more and I would like other people to enjoy it too.

		
		<br><br><span>I wondered if people in the UK like sake or not?</span>
		<br>I took bottles of Ginjo sake (high class aromatic sake) to a few restaurants, wine shops, bars and pubs in North West London and asked people's opinion of it.	
		<br>Those in the wine business all loved it!
		<br>So, I decided to start a sake business because I thought that <B>sake has the potential to become much more popular in the UK than it is now.</B>


		<br><br><span>My ambition</span>
		<br>I want to see sake become as popular as wine in the UK.
		<br>How can that happen? By letting many others try fine sake.  Because the major reason why people start to love sake is simply that they find sake so beautiful like I did.
		<br><B>Would you like to work for this ambition?</B>

		<br><br><span>Become a sake specialist!</span>
		<br><B>I will bring you a variety of sake and let you try them free of charge.</B>
		<br>I want to hear your opinion about them.  And if you love them, transmit your love to your customers.

			
		<br><br><span>Have you tried our sake yet? If not, why not try!</span>	
		<br><B>Please contact me (service@thesakecellar.com) for the free sake tasting.</B>	

		<img src="{{=URL('static','images/hiroshi2.jpg')}}" style="margin: 30px 0 60px 0">
		
	</div>
</div>

<!-- div style="margin-bottom:60px; margin-bottom:150px;" class="container group">
	
	<h2 class="page_title3" style="margin-bottom:30px;">About THE SAKE CELLAR</h2>
	
	<div id="about-non-mobile">
		<div class="about_photos">
			<img src="{{=URL('static','images/sake2.jpg')}}" style="margin-bottom:140px;">
			<img src="{{=URL('static','images/hiroshi2.jpg')}}">
		</div> 
		<div class="about1">
			<span style="color:#555;">Dear all in the fine food & drink business.</span>	<br>
			<br>From Hiroshi Sasaki the founder of THE SAKE CELLAR.
			
			<br><br><span>I confess..</span>
			<br>I only recently became a sake lover when in 2015 I had a chance to drink sake and my reaction was...
			<br><B>"Wow, sake is so exquisite!"</B>
			<br>I felt it a loss that I , a Japanese person, had lived so far without sake.
			<br>I thought that I must enjoy sake more and I would like other people to enjoy it too.

			
			<br><br><span>I wondered if people in the UK like sake or not?</span>
			<br>I took bottles of Ginjo sake (high class aromatic sake) to a few restaurants, wine shops, bars and pubs in North West London and asked people's opinion of it.	
			<br>Those in the wine business all loved it!
			<br>So, I decided to start a sake business because I thought that <B>sake has the potential to become much more popular in the UK than it is now.</B>


			<br><br><span>My ambition</span>
			<br>I want to see sake become as popular as wine in the UK.
			<br>How can that happen? By letting many others try fine sake.  Because the major reason why people start to love sake is simply that they find sake so beautiful like I did.
			<br><B>Would you like to work for this ambition?</B>

			<br><br><span>Become a sake specialist!</span>
			<br><B>I will bring you a variety of sake and let you try them free of charge.</B>
			<br>I want to hear your opinion about them.  And if you love them, transmit your love to your customers.

				
			<br><br><span>Have you tried our sake yet? If not, why not try!</span>	
			<br><B>Please contact me (service@thesakecellar.com) for the free sake tasting.</B>				
		</div>
	</div>
		
</div -->