<html><head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>The pure sake</title>
    
	<style type="text/css" media="screen">
    
		body {
    font-family: Arial,Helvetica,sans-serif;
		margin: 0;
		padding: 0;
		background-color: #eeeeee;
		}
		
		table.page {
		background-color: #fff;
		}
		
		img { 
		border: none; 
		}
		
		table.white {
		background-color: #1F497D;
		}
		
		table.white p {
		color: #fff;
		}
		
		p {
		font-size: 15px;
		font-weight: normal;
		line-height:135%;
		color: #1F497D;
		}
		
		h2 {
		font-size: 24px;
		font-weight: bold;
		color: #1F497D;
		margin: 0, 0, 20px, 0;
		padding: 0;
		text-decoration: underline;
		}
		
		td.details p {
		font-size: 14px;
		font-weight: normal;
		color: #1F497D;
		}
		
		td.permission p {
		font-size: 14px;
		font-weight: normal;
		color: #1F497D;
		margin: 10px 0 10px 0;
		padding: 0;
		}
		
		td.footer p {
		font-size: 14px;
		font-weight: normal;
		color: #1F497D;
		margin: 10px 0 10px 0;
		padding: 0;
		}
		
		a {
		font-weight: bold;
		text-decoration: underline;
		color: #1F497D;
		}
		
		table.white a {
		text-decoration: underline;
		color: #fff;
		}
		
		h2 a {
		font-weight: bold;
		text-decoration: none;
		color: #1F497D;
		}
	
	</style>
<meta name="robots" content="noindex,nofollow">
<meta property="og:title" content="THE SAKE CELLAR">
</head>
<body style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;background-color:#eeeeee;">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
   <tbody><tr>
      <td align="center">
 

         <table width="660" border="0" cellspacing="0" cellpadding="0" class="page" style="background-color:#fff;">
            <tbody><tr>
               <td align="center">
                  
                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="main">
 
                     <tr>
                        <td>
                           <table width="660" border="0" cellspacing="40" cellpadding="0">
                              <tbody><tr>
                                 <td width="660" align="center" valign="top">
                                    <p style="text-align:left;font-family:Arial,Helvetica,sans-serif;;font-size:16px;font-weight:normal;line-height:135%;color:#1F497D;">
                                    <span style="font-size:17px;">
                                    Dear sommeliers and wine buyers, <br><br>
                                    Did you know some sakes are purer than others?<br><br>
                                    
                                    The maker of our sake pioneered a technique used in ONLY 5% of sake brands in the consumer market.
                                    This technique called "KOON TOKA MOTO" makes a pure sake starter uncontaminated by bacteria which spoil the sake flavour.
                                    <br><br>
                                    
                                    Using this and other quality control methods, our sakes are uniquely pure and fresh.<br><br>
                                    What's more they are competitively priced.
                                    <br><br>
                                    Would you like to know how they taste?<br>
                                    </span>
                                    <span style="color:#0579ae; font-size:18px; font-weight:bold;">
                                    <u>We are happy to deliver you free samples. &nbsp;Just reply to this email with your delivery address.</u><br> 
                                    </span></p>
                                 </td>
                                 </td>
                              </tr>
                           </tbody></table>
                        </td>
                     </tr>

                     
                     <tr>
                        <td class="header" align="center">
                           <table width="100%" border="0" cellspacing="" cellpadding="0">
                              <tbody><tr>
                                 <td><img label="Image" width="660" alt="The Pure Sake" align="left" hspace="0" src="/thesakecellar/static/images/becautiful_sake.jpg" style="border-style:none;"></td>
                              </tr>
                           </tbody></table>
                           
                        </td>
                     </tr>

                     <!-- tr>
                        <td>
                           <table class="white" width="660" border="0" cellspacing="20" cellpadding="0" style="background-color:#1F497D;">
                              <tbody><tr>
                                 <td width="660" align="center" valign="top">
                                    <p style="font-family:Arial,Helvetica,sans-serif;;font-size:16px;font-weight:normal;line-height:135%;color:#fff;">
	<span style="font-size:18px;"><strong>Admission is free but pre-registration is essential by 12th October</strong></span></p>
                                 </td>
                              </tr>
                            </tbody>
                           </table>
                        </td>
                     </tr -->

                     <tr>
                        <td>
                           <table width="660" border="0" cellspacing="40" cellpadding="0">
                              <tbody>
                                <tr>
                                 <td width="150" class="image" align="left" valign="top">
                                   <img label="Image" width="150" alt="maboroshi" align="left" hspace="0" src="/thesakecellar/static/images/jungin-maboroshi-square-medal.png">
                                 </td>
                                 <td width="600" class="details" align="left" valign="top">
                                  <p style="line-height:160%;font-family:Arial,Helvetica,sans-serif;;font-size:14px;font-weight:normal;color:#239d97;">
                                  <strong><span style="font-size:16px;">SAMPLE 1: 180ml of Maboroshi&nbsp;(Vision) Junmai-Ginjo</span></strong></p>
                                  <p style="line-height:160%;font-family:Arial,Helvetica,sans-serif;;font-size:14px;font-weight:normal;color:#1F497D;">
                                  <span style="font-size:16px;">
                                  <b>Category:</b>&nbsp; Junmai Ginjo<br>
                                  <b>Award:</b>&nbsp; International Wine Challenge 2015 Silver<br>
                                  <b>Produced by</b>:&nbsp; Nakao Sake Brewery Co Ltd<br>
                                  <b>Alcohol level:</b>&nbsp; 15.4%<br>
                                 </td>
                              </tr>
                              <tr>
                                 <td width="150" class="image" align="left" valign="top">
                                   <img label="Image" width="150" alt="maboroshi" align="left" hspace="0" src="/thesakecellar/static/images/junmai-takehara-medal.png">
                                 </td>
                                 <td width="600" class="details" align="left" valign="top">
                                  <p style="line-height:160%;font-family:Arial,Helvetica,sans-serif;;font-size:14px;font-weight:normal;color:#239d97;">
                                  <strong><span style="font-size:16px;">SAMPLE 2: 180ml of Seikyo&nbsp;(Mirror of Truth) Takehara Junmai</span></strong></p>
                                  <p style="line-height:160%;font-family:Arial,Helvetica,sans-serif;;font-size:14px;font-weight:normal;color:#1F497D;">
                                  <span style="font-size:16px;">
                                  <b>Category:</b>&nbsp; Junmai<br>
                                  <b>Award:</b>&nbsp; International Wine Challenge 2015 Silver<br>
                                  <b>Produced by</b>:&nbsp; Nakao Sake Brewery Co Ltd<br>
                                  <b>Alcohol level:</b>&nbsp; 15.4%<br>
                                 </td>
                              </tr>
                           </tbody></table>
                        </td>
                     </tr>
                     
                     <tr>
                        <td>
                           <table width="660" border="0" cellspacing="40" cellpadding="0">
                              <tbody><tr>
                                 <td width="660" align="left" valign="top">
                                  <p style="font-family:Arial,Helvetica,sans-serif;;font-size:16px;font-weight:normal;line-height:135%;color:#1F497D;">
                                  <span style="font-size:18px;">
                                  Kindest regards,<br>
                                  Hiroshi Sasaki<br><br><br>
                                  Japanese sake wholesaler<br>
                                  The Sake Cellar (2or3 Ltd) &nbsp;&nbsp;  <a href="http://thesakecellar.com">http://thesakecellar.com</a><br>
                                  hiroshi.s@thesakecellar.com<br>
                                  020-8575-7185<br>
                                  
                                  
                                  
                                  </span></p>
                                 </td>
                              </tr>
                           </tbody></table>
                        </td>
                     </tr>

                     <tr>
                        <td height="80" class="footer" align="center">
                          <img label="Image" width="140" alt="THE SAKE CELLAR" hspace="0" src="/thesakecellar/static/images/logo_tate_02.png">
                        </td>
                     </tr>

                     <tr>
                        <td height="80" class="footer" align="center">
                           <p style="line-height:135%;font-family:Arial,Helvetica,sans-serif;;font-size:14px;font-weight:normal;color:#1F497D;margin-top:10px;margin-bottom:10px;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">© 2OR3 LTD trading as <a href="http://thesakecellar.com/">THE SAKE CELLAR</a>
                           <p style="line-height:135%;font-family:Arial,Helvetica,sans-serif;;font-size:14px;font-weight:normal;color:#1F497D;margin-top:10px;margin-bottom:10px;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">Company Registration in England: 09912394      VAT Registration: 232 7460 21      AWRS URN: XFAW00000103444</p>
                        </td>
                     </tr>
                     
                  </tbody></table>
                  
               </td>
            </tr>
         </tbody></table>
         
      </td>
   </tr>
</tbody></table>


