{{extend 'layout.html'}}
<h2>Products</h2>
	 
<div style="margin-bottom:60px;" class="container group">

	<ul id="search-results">
				<li class="col-960 search-result">
					<div class="col-200 alpha">
						<img class="shadow" src="https://onlprd.s3.amazonaws.com/images/pics/9436/medium/original.jpg?1446052956 alt="'Claire' Reserve Shiraz, 2010">
					</div>
					<div class="col-440">
						<h2><a href="beverage_details.php?wid=79384">'Claire' Reserve Shiraz, 2010</a></h2>
						<ul>
							<li><strong>Produced by</strong> O'leary Walker Wines </li>
							<li><strong>From</strong> South Australia, Australia</li>
							<li><strong>Made with</strong> Shiraz</li>
						</ul>
					</div>

				</li>		
						<li class="col-960 search-result">
					<div class="col-200 alpha">
						<img class="shadow" src="https://onlprd.s3.amazonaws.com/images/pics/9440/medium/original.jpg?1446052957" alt="'Aconcagua Costa Single Vineyard' Sauvignon Blanc, 2014">
					</div>
					<div class="col-440">
						<h2><a href="beverage_details.php?wid=80794">'Aconcagua Costa Single Vineyard' Sauvignon Blanc, 2014</a></h2>
						<ul>
							<li><strong>Produced by</strong> Viña Errazuriz </li>
							<li><strong>From</strong> Aconcagua Region, Chile</li>
							<li><strong>Made with</strong> Sauvignon Blanc</li>
						</ul>
					</div>

				</li>		
						<li class="col-960 search-result">
					<div class="col-200 alpha">
						<img class="shadow" src="https://onlprd.s3.amazonaws.com/images/pics/9747/medium/yuki-no-bosha-junmai.jpg?1446053038" alt="'Gallagher's Choice' Cabernet Sauvignon, 2012">
					</div>
					<div class="col-440">
						<h2><a href="beverage_details.php?wid=82317">'Gallagher's Choice' Cabernet Sauvignon, 2012</a></h2>
						<ul>
							<li><strong>Produced by</strong> Woody Nook Wines</li>
							<li><strong>From</strong> Western Australia, Australia</li>
							<li><strong>Made with</strong> Cabernet Sauvignon</li>
						</ul>
					</div>

				</li>		
						<li class="col-960 search-result">
					<div class="col-200 alpha">
						<img class="shadow" src="https://onlprd.s3.amazonaws.com/images/pics/9682/medium/IMG_0032.jpg?1446053022" alt=" Cardinalis Dalsheimer Steig Riesling Trocken, 2013">
					</div>
					<div class="col-440">
						<h2><a href="beverage_details.php?wid=82400"> Cardinalis Dalsheimer Steig Riesling Trocken, 2013</a></h2>
						<ul>
							<li><strong>Produced by</strong> Weingut Schales </li>
							<li><strong>From</strong> Rheinhessen, Germany</li>
							<li><strong>Made with</strong> Riesling</li>
						</ul>
					</div>

				</li>		
						<li class="col-960 search-result">
					<div class="col-200 alpha">
						<img class="shadow" src="https://onlprd.s3.amazonaws.com/images/pics/9900/medium/oni-koroshi-1.jpg?1446053078" alt=" Torre del Falasco Amarone della Valpolicella, 2011">
					</div>
					<div class="col-440">
						<h2><a href="beverage_details.php?wid=83802"> Torre del Falasco Amarone della Valpolicella, 2011</a></h2>
						<ul>
							<li><strong>Produced by</strong> Cantina Valpantena Verona</li>
							<li><strong>From</strong> Veneto, Italy</li>
							<li><strong>Made with</strong> Corvina, Rondinella</li>
						</ul>
					</div>

				</li>		
						<li class="col-960 search-result">
					<div class="col-200 alpha">
						<img class="shadow" src="https://onlprd.s3.amazonaws.com/images/pics/10493/medium/10420-kyoto-jinmatsu-junmai-ginjo.jpg?1446053248" alt=" Hacienda Branca Reserva, 2013">
					</div>
					<div class="col-440">
						<h2><a href="beverage_details.php?wid=84387"> Hacienda Branca Reserva, 2013</a></h2>
						<ul>
							<li><strong>Produced by</strong> Hacienda Branca Vineyards Estate</li>
							<li><strong>From</strong> Alentejo, Portugal</li>
							<li><strong>Made with</strong> Syrah, Petite Sirah</li>
						</ul>
					</div>

				</li>		
						<li class="col-960 search-result">
					<div class="col-200 alpha">
						<img class="shadow" src="https://onlprd.s3.amazonaws.com/images/pics/11730/medium/photo2final.jpg?1452793022" alt=" Escolha a Supresa de Virgilio Loureiro, 2011">
					</div>
					<div class="col-440">
						<h2><a href="beverage_details.php?wid=87916"> Escolha a Supresa de Virgilio Loureiro, 2011</a></h2>
						<ul>
							<li><strong>Produced by</strong> Quinta Dos Termos</li>
							<li><strong>From</strong> Beira Interior, Portugal</li>
							<li><strong>Made with</strong> Baga</li>
						</ul>
					</div>

				</li>		
						<li class="col-960 search-result">
					<div class="col-200 alpha">
						<img class="shadow" src="https://onlprd.s3.amazonaws.com/images/pics/2210/medium/original.jpg?1446049586" alt=" Belles Vignes Collection Sauvignon, 2014">
					</div>
					<div class="col-440">
						<h2><a href="beverage_details.php?wid=88199"> Belles Vignes Collection Sauvignon, 2014</a></h2>
						<ul>
							<li><strong>Produced by</strong> Les Grands Chais de France</li>
							<li><strong>From</strong> France</li>
							<li><strong>Made with</strong> Sauvignon Blanc</li>
						</ul>
					</div>

				</li>		
						<li class="col-960 search-result">
					<div class="col-200 alpha">
						<img class="shadow" src="https://onlprd.s3.amazonaws.com/images/pics/8644/medium/original.jpg?1446052713" alt="'Le Vele' Verdicchio dei Castelli di Jesi Classico, 2014">
					</div>
					<div class="col-440">
						<h2><a href="beverage_details.php?wid=90953">'Le Vele' Verdicchio dei Castelli di Jesi Classico, 2014</a></h2>
						<ul>
							<li><strong>Produced by</strong> Terre Cortesi Moncaro </li>
							<li><strong>From</strong> Marche, Italy</li>
							<li><strong>Made with</strong> Verdicchio</li>
						</ul>
					</div>

				</li>		
						<li class="col-960 search-result">
					<div class="col-200 alpha">
						<img class="shadow" src="https://onlprd.s3.amazonaws.com/images/pics/9355/medium/original.jpg?1446052929" alt="'R' Valpolicella Superiore Ripasso, 2013">
					</div>
					<div class="col-440">
						<h2><a href="beverage_details.php?wid=91890">'R' Valpolicella Superiore Ripasso, 2013</a></h2>
						<ul>
							<li><strong>Produced by</strong> Alpha Zeta </li>
							<li><strong>From</strong> Veneto, Italy</li>
							<li><strong>Made with</strong> Corvina, Rondinella</li>
						</ul>
					</div>

				</li>		
		    </ul>
		

</div>